.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3rem;
}

.hero img {
    border-radius: 50%;
    border: 3px solid var(--icon-color);
    height: 15rem;
    width: 15rem;
    object-fit: cover; /* This will ensure the image covers the area properly */
    margin-right: 20px;    
    animation: flip 1s ease-in-out;
    
}

.bio {
    flex: 1; /* Take up the remaining space in the flex container */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space from top to bottom */
    height: 15rem; /* Match the height of the image */
    padding: 0;
    align-self: stretch; /* Stretch to the height of the container */ 
}


.bio p {
    line-height: var(--line-height);  
    color: var(--icon-color);  
}



