/* Copyright Srujan Lokhande @2024 */

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;    
}

.hero img {
    border-radius: 50%;
    border: 3px solid var(--icon-color);
    height: 15rem;
    width: 15rem;
    object-fit: cover; /* This will ensure the image covers the area properly */
    margin-right: 20px;        
}

.bio {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
    padding: 0;
    align-self: stretch; 
}


.bio p {
    line-height: var(--line-height);  
    color: var(--icon-color);      
    font-size:x-large;    
}



