/* Copyright Srujan Lokhande @2024 */

/* Navbar css */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;   
  padding: 1rem;
  background-color: var(--bg-color);   
  }

  .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

  nav h1 {
    color: var(--primary-color);
    font-size: 50px;    
  }
  
  nav a {
    color: var(--secondary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--on-hover-color);    
  }  

.navigation a{
  font-size: 3rem;
  /* padding-right: 1rem;   */
  color: var(--icon-color);
}
