/* main projects section */
.projects {
    background-color: var(--bg-color);
    margin-top: 2rem;
    max-width: 100%;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


/* individual project cards */
.project-card {      
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;          
}

.project-image-container {
    width: 100%;    
    max-height: 50rem;
    overflow: hidden; 
    position: relative;      
  }
  
  .project-gif {
    width: 100%;
    max-height: 25rem;
    object-fit:fill;  
  }
  
  .project-info-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-details {
    background-color: #333; /* gray background */
    padding: 15px;
    overflow:visible;
  }
  
  .project-title {
    margin-top: 0;
    color: #fff;
  }
  
  .project-role {
    color: #bbb;
  }
  
  .project-description {
    color: #ddd;
  }
