/* Copyright Srujan Lokhande @2024 */

.skills-section {
    background-color: var(--bg-color); /* or any other color */
    color: var(--secondary-color);
    margin-top: var(--top-margin);
    margin-bottom: 2rem;
  }
  
  .skills-section h2 {
    margin-bottom: 1rem; 
    color: var(--primary-color);
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap; /* Wrap the skills if they don't fit in one line */
    gap: 10px; /* Adjust the gap between the skills */
  }
  
  .skill {
    padding: 10px 15px; 
    border: 1px solid var(--secondary-color);
    border-radius: 15px; 
    font-size: 1rem; 
    white-space: nowrap; 
  }